/* AshishKingdom */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: rgb(227, 232, 247);
}

.dark-bg {
	background-color: #193498;
}
.login-box {
	border: 2px solid #193498;
	background-color:  rgb(227, 232, 247);
	/*padding: 10px;*/
	border-radius: 5px;
	height: 350px;
	width: 300px;
	margin: auto;

}

.input-titles{
    font-size: 14pt;
    margin: auto;
    text-align: center;
}

#inp-nickname {
    font-size: 14pt;
    margin: 0pt auto;
    text-align: center;
    padding: 3pt;
    border-radius: 3px;
    border: #193498 1px solid;
    display: block;
}

#inp-nickname:focus {
	outline: none;
	border-color: rgb(0,0,100);
	box-shadow: 0 0 10px rgb(0,100,200);
}

.page-btn {
	font-size: 14pt;
	margin: 0pt auto;
	display: block;
	padding: 5pt;
	background-color: #193498 ;
	color: white;
	border: none;
	border-radius: 3px;
}

.page-btn:hover {
	background-color: #091e6b ;
	cursor: pointer;
}

.login-heading-1 {
	background-color: #193498;
	color : #FFFFFF;
	font-size: 24pt;
	text-align: center;
	padding: 10pt;
	margin: 0 0 20pt 0;
}

#main-heading {
	/*background-color: rgb(50, 50, 50);*/
	color : #FFFFFF;
	text-align: center;
	font-size: 36pt;
	/*margin: 0 0 15pt 0;*/
	/*padding: 20pt;*/
/*	height: 10%;
	width: 100%;*/
}


#warning-msg {
	padding: 5pt;
	background-color: rgb(255,200,200);
	border: 1px solid rgb(255,0,0);
	color: rgb(255,0,0);
	display: none;
	margin: 10px;
	text-align: center;
}

.footer {
	/*background-color: rgb(30,30,30);*/
	/*margin: 0 auto;*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*bottom: 0;*/
	color: rgb(255,255,255);
	/*padding: 20px 0px;*/
	text-align: center;
}

a {
	color: rgb(0,180,255);
	text-decoration: none;
}

#navbar {
	background-color: #193498;
	color: white;
	padding: 16px 16px;
	height: 10%;
}

.heading {
	font-size: 28pt;
}

.btn-exit {
	position: relative;
	display: inline;
	float: right;
}

.btn-exit:hover {
	background-color: rgb(200,50,50);
}

#chat-area {
	width: 80%;
	border: 1px solid #193498 ;
}
#chat-area iframe {
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

#online-status {
	width: 20%;
	background-color: white;
	border: 1px solid #193498;
	vertical-align: top;
	text-align: center;
}

#message-area {
	width: 100%;
	/*border: 1px solid rgb(40,40,40);*/
	height: 10%;
}

#message-content {
	width: calc(100% - 125px);
	height: 100%;
	border: none;
	font-size: 16pt;
	padding: 0px 10px;
}
#message-content::placeholder{
	padding: 0px 5px;
}

#message-content:focus{
	outline: none;
}

#btn-send {
	display: inline;
	border-radius: 0px;
	height: 100%;
	width: 100px;
	margin: 0;
}
#btn-send:hover {
	background-color: rgb(60,60,150);
}
